<div class="read-story">
    <div class="read-story-box">
        <div class="story-header">
            <h1>{{title}}</h1>
            <p class="lead"><b>Date :</b> {{DateFormat date "MMMM do YYYY"}} || </p>
            <p class="lead"> <b>About :</b> {{user.name}}</p>
        </div>
    </div>
</div>