<footer>
    <div class="ms-footer">
        <div class="footer-text">
            <p>CopyRight &copy; 2019 <a href="/">CkStory Book</a></p>
        </div>
        <div class="footer-links">
            <a href="/">Home &UpArrow;</a>
            <a href="/about">About Us</a>
        </div>
    </div>
     <div class="footer-lines-decoration">
        <span class="bg-red"></span>
        <span class="bg-blue-light"></span>
        <span class="bg-green"></span>
        <span class="bg-blue"></span>
        <span class="bg-yellow"></span>
        <span class="bg-orange"></span>
        <span class="bg-green"></span>
    </div>
</footer>