<div class="container">
    <div class="about-author">
        <p class="display-4">About Author</p>
        <p class="lead">Name : Pardeep Saini</p>
        <p class="lead">Email : PardeepSaini7927@Gmail.Com</p>
    </div>
      <h1 class="display-4">
        About Us
    </h1>
    <p class="lead">Ck Story Book.Share Your Stories.</p>
    <p class="lead">Version : 1.0.0</p>
</div>