<div class="main-box container">
    <div class="main-box-content">
        <h1>Welcome To CK Story Book</h1>
        <hr>
        <p>Share Your Stories || Please Login With Google Account </p>
    </div>
    <div class="pb-links">
        <ol>
            <li><a href="/stories"><i class="fa fa-address-card-o"></i> Public Stories</a></li>
        </ol>
    </div>
    <div class="login-link">
        <a href="/auth/google"><i class="fa fa-google"></i> Login With Google</a>
    </div>
</div>