.bg-red {
  background-color: #e03636;
}

.bg-blue-light {
  background-color: #4a81d3;
}

.bg-green-yellow {
  background-color: #80f163;
}

.bg-yellow {
  background-color: #c4f355;
}

.bg-orange {
  background-color: #d46727;
}

.bg-blue {
  background-color: #1919f0;
}

.bg-green {
  background-color: green;
}

header .header-lines-decoration {
  height: 6px;
  top: 0%;
  position: absolute;
  width: 100%;
}

header .header-lines-decoration span:first-child, header .header-lines-decoration span:last-child {
  width: 15%;
}

header .header-lines-decoration span {
  height: 100%;
  width: 14%;
  float: left;
}

header .ms-header {
  background-color: black;
  height: 10%;
  width: 100%;
  vertical-align: middle;
}

header .ms-header .header-logo {
  margin-left: 10px;
  display: inline-block;
  line-height: 1;
}

header .ms-header .header-logo img {
  display: inline-block;
  height: 100px;
  width: 100px;
}

@media (max-width: 576px) {
  header .ms-header .header-logo img {
    height: 80px;
    width: 80px;
  }
}

header .ms-header .header-title {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  margin-left: 1%;
}

header .ms-header .header-title h1 {
  margin-top: 7px;
  color: wheat;
  font-family: Thasadith,serif;
  display: inline-block;
}

@media (max-width: 576px) {
  header .ms-header .header-title h1 {
    font-size: 25px;
  }
}

header .ms-header .header-links {
  background-color: white;
  margin-bottom: 0px;
}

@media (min-width: 576px) {
  header .ms-header .header-links {
    text-align: center;
  }
}

header .ms-header .header-links ol {
  list-style-type: none;
  display: block;
  margin-bottom: 0px;
  padding: 4px;
}

@media (min-width: 576px) {
  header .ms-header .header-links ol {
    margin-left: 8px;
  }
}

header .ms-header .header-links ol li {
  border: 2px solid #5b9996;
  border-radius: 4px;
  display: inline-block;
}

@media (max-width: 576px) {
  header .ms-header .header-links ol li {
    margin-top: 2px;
  }
}

header .ms-header .header-links ol li a {
  font-size: 22px;
  color: #0c0f14;
  text-decoration: none;
  font-family: "Raleway";
  padding: 2px 7px 2px 7px;
  display: block;
}

@media (max-width: 576px) {
  header .ms-header .header-links ol li a {
    font-size: 18px;
  }
}

header .ms-header .header-links ol li a:hover {
  color: white;
  background-color: #5ad884;
}

header .ms-header .header-hr hr {
  padding: 0%;
  margin: 0%;
  border: 2px solid #34b655;
}

@media (max-width: 576px) {
  header .ms-header .header-hr hr {
    border: 2px solid #34b655;
  }
}

footer .ms-footer {
  background-color: black;
}

footer .ms-footer .footer-text {
  text-align: center;
}

footer .ms-footer .footer-text p {
  padding: 0%;
  margin: 0%;
  color: white;
  font-size: 20px;
  font-family: "Thasadith", serif;
}

footer .ms-footer .footer-text p a {
  color: wheat;
  text-decoration: none;
}

footer .ms-footer .footer-links {
  text-align: center;
}

footer .ms-footer .footer-links a {
  text-decoration: none;
  color: wheat;
  font-size: 20px;
}

footer .footer-lines-decoration {
  height: 6px;
  position: absolute;
  width: 100%;
}

footer .footer-lines-decoration span {
  height: 100%;
  width: 14%;
  float: left;
}

footer .footer-lines-decoration span:first-child, footer .footer-lines-decoration span:last-child {
  width: 15%;
}

.profile-page {
  margin-top: 30px;
  margin-bottom: 10px;
}

.profile-page hr {
  border: 2px solid #478bc4;
}

.profile-page .profile-page-heading {
  text-align: center;
  padding-bottom: 10px;
  font-family: "Raleway";
  border-bottom: 2px solid #a13232;
}

.profile-page .user-profile {
  display: inline-block;
  font-family: "Raleway";
  text-align: center;
}

.profile-page .user-profile img {
  display: inline-block;
}

.profile-page .user-profile .user-info {
  display: inline-block;
}

.profile-page .user-profile .user-info h1 {
  font-family: "Raleway";
  margin-left: 10px;
  display: inline-block;
}

.profile-page .user-profile .user-info p {
  margin-top: 20px;
  font-size: 22px;
  font-family: "Raleway";
}

.profile-page .user-stories .user-stories-box {
  margin: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: inline-block;
}

.main-box {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 15px;
}

.main-box .main-box-content h1 {
  font-family: "Raleway";
}

@media (max-width: 576px) {
  .main-box .main-box-content h1 {
    font-size: 34px;
  }
}

.main-box .main-box-content p {
  font-size: 25px;
  font-family: "Raleway", serif;
}

.main-box .main-box-content hr {
  border: 2px solid #368ad8;
}

.main-box .login-link a {
  text-align: center;
  color: white;
  padding: 6px 10px 6px 10px;
  border: 1px solid red;
  background-color: #f14141;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway";
}

@media (min-width: 576px) {
  .main-box .login-link a {
    padding: 4px 80px 4px 80px;
  }
}

.main-box .login-link a:hover {
  background-color: #ca2d2d;
}

.main-box .pb-links {
  margin-top: 10px;
}

.main-box .pb-links ol {
  list-style-type: none;
}

.main-box .pb-links ol li a {
  font-family: "Raleway", serif;
  font-size: 20px;
  color: white;
  margin-right: 40px;
  text-decoration: none;
  background-color: #747171;
  padding: 6px 10px 6px 10px;
}

@media (min-width: 576px) {
  .main-box .pb-links ol li a {
    padding: 6px 80px 6px 80px;
    font-size: 20px;
  }
}

.main-box .pb-links ol li a:hover {
  background-color: #686363;
}

.add-story-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-story-form .page_title {
  margin-bottom: 2px;
  border-bottom: 3px solid #4343cf;
}

.add-story-form form {
  margin-top: 10px;
}

.add-story-form form label {
  font-family: "Raleway", serif;
  font-size: 22px;
}

.add-story-form form input {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.add-story-form form button {
  margin-top: 10px;
}

.public-stories {
  margin-top: 10px;
  margin-bottom: 10px;
}

.public-stories .public-story-box {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: inline-block;
  margin: 10px;
  font-family: "Raleway", serif;
}

.public-stories .public-story-box .edit-button {
  line-height: 1;
  color: #f1f1f1;
  border: none;
  font-family: "Raleway";
  font-size: 1.4rem;
  margin-left: 70%;
  margin-top: 5px;
  text-decoration: none;
  padding: 7%;
  display: inline-block;
  position: absolute;
  border-radius: 70%;
  background-color: #ec2b2b;
}

.public-stories .public-story-box hr {
  border: 2px solid #508a39;
}

.read-story .post-author-card-mb {
  margin-top: 10px;
  margin-bottom: 15px;
}

@media (min-width: 800px) {
  .read-story .post-author-card-mb {
    display: none;
  }
}

.read-story .post-author-card-mb .author-name-chip {
  text-decoration: none;
  text-align: center;
  border: 2px solid black;
  padding: 4px 10px 4px 10px;
  border-radius: 30px;
  font-family: "Raleway";
  border-left: 6px solid red;
  border-right: 6px solid red;
}

.read-story .post-author-card-dsk {
  -webkit-box-shadow: 10px 10px 5px -5px rgba(177, 161, 161, 0.75);
  box-shadow: 10px 10px 5px -5px rgba(146, 126, 126, 0.75);
  margin-top: 10px;
  float: right;
  margin-right: 2%;
}

@media (max-width: 800px) {
  .read-story .post-author-card-dsk {
    display: none;
  }
}

.read-story .post-author-card-dsk .author-name-chip {
  text-align: center;
  border: 2px solid black;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  border-right: 6px solid red;
  font-family: "Raleway";
  border-left: 6px solid red;
}

.read-story .read-story-box {
  -webkit-box-shadow: 10px 10px 5px -5px rgba(177, 161, 161, 0.75);
  box-shadow: 10px 10px 5px -5px rgba(146, 126, 126, 0.75);
  margin: 10px 5px;
  border: 2px solid #f1f1f1;
}

@media (min-width: 800px) {
  .read-story .read-story-box {
    width: 70%;
  }
}

@media (max-width: 960px) and (min-width: 800px) {
  .read-story .read-story-box {
    width: 64%;
  }
}

@media (max-width: 576px) {
  .read-story .read-story-box {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.read-story .read-story-box .story-header {
  margin-left: 15px;
  margin-right: 15px;
}

.read-story .read-story-box .story-header h1 {
  font-family: "Raleway", serif;
}

.read-story .read-story-box .story-header p {
  display: inline-block;
}

.read-story .read-story-box .story-header hr {
  border: 2px solid black;
}

.read-story .read-story-box .story-body {
  margin-left: 20px;
}

.read-story .read-story-box .story-body p {
  font-family: "Raleway";
  font-size: 20px;
}

.read-story .read-story-box .post-comment {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.read-story .read-story-box .post-comment .h1-c {
  font-family: "Raleway";
}

.read-story .read-story-box .post-comment form {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Raleway";
}

.read-story .read-story-box .post-comment form textarea {
  border: 3px solid #46a1ad;
}

.read-story .read-story-box .alert-signin {
  text-align: center;
  height: 150px;
  border: 1px solid red;
}

.read-story .read-story-box .alert-signin p {
  margin-top: 30px;
  font-family: Raleway;
}

.read-story .read-story-box .alert-signin a {
  text-align: center;
  color: white;
  padding: 6px 10px 6px 10px;
  border: 1px solid red;
  background-color: #f14141;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway";
}

@media (min-width: 576px) {
  .read-story .read-story-box .alert-signin a {
    padding: 4px 80px 4px 80px;
  }
}

.read-story .read-story-box .alert-signin a:hover {
  background-color: #ca2d2d;
}

.read-story .read-story-box .print-comments {
  border: 2px solid #1b72ac;
  padding: 15px;
  border-radius: 50px;
  margin-bottom: 8px;
}

.read-story .read-story-box .print-comments .comment-header {
  border-bottom: 2px solid #26c0c0;
}

.read-story .read-story-box .print-comments .comment-header img {
  height: 60px;
  border-radius: 50px;
  width: 60px;
  margin-top: -28px;
}

.read-story .read-story-box .print-comments .comment-header .header-data {
  display: inline-block;
}

.read-story .read-story-box .print-comments .comment-header .header-data p {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  margin-left: 10px;
  font-family: "Raleway";
}

.read-story .read-story-box .print-comments .comment-header .header-data h6 {
  padding: 0px;
  font-family: "Raleway";
  margin: 0%;
  margin-left: 10px;
}

.read-story .read-story-box .print-comments .comment-body {
  margin-top: 5px;
  text-align: center;
}

.read-story .read-story-box .print-comments .comment-body h4 {
  display: inline-block;
  margin: 0%;
  font-family: Raleway;
}
/*# sourceMappingURL=Style.css.map */