.bg-red {
  background-color: #e03636;
}

.bg-blue-light {
  background-color: #4a81d3;
}

.bg-green-yellow {
  background-color: #80f163;
}

.bg-yellow {
  background-color: #c4f355;
}

.bg-orange {
  background-color: #d46727;
}

.bg-blue {
  background-color: #1919f0;
}

.bg-green {
  background-color: green;
}

header .header-lines-decoration {
  height: 6px;
  top: 0%;
  position: absolute;
  width: 100%;
}

header .header-lines-decoration span:first-child, header .header-lines-decoration span:last-child {
  width: 15%;
}

header .header-lines-decoration span {
  height: 100%;
  width: 14%;
  float: left;
}

header .ms-header {
  background-color: black;
  height: 10%;
  width: 100%;
  vertical-align: middle;
}

header .ms-header .header-logo {
  margin-left: 10px;
  display: inline-block;
  line-height: 1;
}

header .ms-header .header-logo img {
  display: inline-block;
  height: 100px;
  width: 100px;
}

@media (max-width: 576px) {
  header .ms-header .header-logo img {
    height: 80px;
    width: 80px;
  }
}

header .ms-header .header-title {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  margin-left: 1%;
}

header .ms-header .header-title h1 {
  margin-top: 7px;
  color: wheat;
  font-family: Thasadith,serif;
  display: inline-block;
}

@media (max-width: 576px) {
  header .ms-header .header-title h1 {
    font-size: 25px;
  }
}

header .ms-header .header-links {
  background-color: white;
  margin-bottom: 0px;
}

@media (min-width: 576px) {
  header .ms-header .header-links {
    text-align: center;
  }
}

header .ms-header .header-links ol {
  list-style-type: none;
  display: block;
  margin-bottom: 0px;
  padding: 4px;
}

@media (min-width: 576px) {
  header .ms-header .header-links ol {
    margin-left: 8px;
  }
}

header .ms-header .header-links ol li {
  border: 2px solid #5b9996;
  border-radius: 4px;
  display: inline-block;
}

@media (max-width: 576px) {
  header .ms-header .header-links ol li {
    margin-top: 2px;
  }
}

header .ms-header .header-links ol li a {
  font-size: 22px;
  color: #0c0f14;
  text-decoration: none;
  font-family: "Raleway";
  padding: 2px 7px 2px 7px;
  display: block;
}

@media (max-width: 576px) {
  header .ms-header .header-links ol li a {
    font-size: 18px;
  }
}

header .ms-header .header-links ol li a:hover {
  color: white;
  background-color: #5ad884;
}

header .ms-header .header-hr hr {
  padding: 0%;
  margin: 0%;
  border: 2px solid #34b655;
}

@media (max-width: 576px) {
  header .ms-header .header-hr hr {
    border: 2px solid #34b655;
  }
}

footer .ms-footer {
  background-color: black;
}

footer .ms-footer .footer-text {
  text-align: center;
}

footer .ms-footer .footer-text p {
  padding: 0%;
  margin: 0%;
  color: white;
  font-size: 20px;
  font-family: "Thasadith", serif;
}

footer .ms-footer .footer-text p a {
  color: wheat;
  text-decoration: none;
}

footer .ms-footer .footer-links {
  text-align: center;
}

footer .ms-footer .footer-links a {
  text-decoration: none;
  color: wheat;
  font-size: 20px;
}

footer .footer-lines-decoration {
  height: 6px;
  position: absolute;
  width: 100%;
}

footer .footer-lines-decoration span {
  height: 100%;
  width: 14%;
  float: left;
}

footer .footer-lines-decoration span:first-child, footer .footer-lines-decoration span:last-child {
  width: 15%;
}

.main-box {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 15px;
}

.main-box .main-box-content h1 {
  font-family: "Raleway";
}

@media (max-width: 576px) {
  .main-box .main-box-content h1 {
    font-size: 34px;
  }
}

.main-box .main-box-content p {
  font-size: 25px;
  font-family: "Raleway", serif;
}

.main-box .main-box-content hr {
  border: 2px solid #368ad8;
}

.main-box .login-link a {
  text-align: center;
  color: white;
  padding: 6px 10px 6px 10px;
  border: 1px solid red;
  background-color: #f14141;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway";
}

@media (min-width: 576px) {
  .main-box .login-link a {
    padding: 4px 80px 4px 80px;
  }
}

.main-box .login-link a:hover {
  background-color: #ca2d2d;
}

.main-box .pb-links {
  margin-top: 10px;
}

.main-box .pb-links ol {
  list-style-type: none;
}

.main-box .pb-links ol li a {
  font-family: "Raleway", serif;
  font-size: 20px;
  color: white;
  margin-right: 40px;
  text-decoration: none;
  background-color: #747171;
  padding: 6px 10px 6px 10px;
}

@media (min-width: 576px) {
  .main-box .pb-links ol li a {
    padding: 6px 80px 6px 80px;
    font-size: 20px;
  }
}

.main-box .pb-links ol li a:hover {
  background-color: #686363;
}

.add-story-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-story-form .page_title {
  margin-bottom: 2px;
  border-bottom: 3px solid #4343cf;
}

.add-story-form form {
  margin-top: 10px;
}

.add-story-form form label {
  font-family: "Raleway", serif;
  font-size: 22px;
}

.add-story-form form input {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.add-story-form form button {
  margin-top: 10px;
}

.public-stories {
  margin: 15px 0px 15px 0px;
}

.public-stories .public-story-box {
  display: inline-block;
  margin: 10px;
  font-family: "Raleway", serif;
}

.public-stories .public-story-box hr {
  border: 2px solid #508a39;
}

.read-story .read-story-box {
  margin: 10px 5px;
  border: 2px solid #f1f1f1;
}

@media (max-width: 576px) {
  .read-story .read-story-box {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.read-story .read-story-box .story-header {
  margin-left: 4px;
}

.read-story .read-story-box .story-header h1 {
  font-family: "Raleway", serif;
}

.read-story .read-story-box .story-header p {
  display: inline-block;
}
/*# sourceMappingURL=Style.css.map */