@import "./partial/color";
$FontFamily: "Thasadith";
$Raleway: "Raleway";

@import "./partial/header";
@import "./partial/footer";
@import "./partial/profilepage";
.main-box {
  margin-bottom: 10px;
  text-align: center;
  margin-top: 15px;
  .main-box-content {
    h1 {
      @media (max-width: 576px) {
        font-size: 34px;
      }
      font-family: $Raleway;
    }
    p {
      font-size: 25px;
      font-family: $Raleway, serif;
    }
    hr {
      border: 2px solid rgb(54, 138, 216);
    }
  }
  .login-link {
    a {
      text-align: center;
      color: white;
      padding: 6px 10px 6px 10px;
      border: 1px solid red;
      background-color: rgb(241, 65, 65);
      text-decoration: none;
      font-size: 20px;
      font-family: $Raleway;
      @media (min-width: 576px) {
        padding: 4px 80px 4px 80px;
      }
    }
    a:hover {
      background-color: rgb(202, 45, 45);
    }
  }
  .pb-links {
    margin-top: 10px;
    ol {
      list-style-type: none;
      li {
        a {
          // text-align: center;
          font-family: $Raleway, serif;
          font-size: 20px;
          color: white;
          margin-right: 40px;
          text-decoration: none;
          background-color: rgb(116, 113, 113);
          padding: 6px 10px 6px 10px;
          @media (min-width: 576px) {
            padding: 6px 80px 6px 80px;
            font-size: 20px;
          }
        }
        a:hover {
          background-color: rgb(104, 99, 99);
        }
      }
    }
  }
}

.add-story-form {
  margin-top: 20px;
  .page_title {
    margin-bottom: 2px;
    border-bottom: 3px solid rgb(67, 67, 207);
  }
  margin-bottom: 20px;
  form {
    margin-top: 10px;
    label {
      font-family: $Raleway, serif;
      font-size: 22px;
    }
    input {
      border-left: 0px;
      border-right: 0px;
      border-top: 0px;
    }
    button {
      margin-top: 10px;
    }
  }
}

.public-stories {
  margin-top: 10px;
  margin-bottom: 10px;
  .public-story-box {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    .edit-button {
      line-height: 1;
      color: #f1f1f1;
      border: none;

      font-family: $Raleway;
      font-size: 1.4rem;
      margin-left: 70%;
      margin-top: 5px;
      text-decoration: none;
      padding: 7%;
      display: inline-block;
      position: absolute;
      border-radius: 70%;
      background-color: rgb(236, 43, 43);
    }
    display: inline-block;
    margin: 10px;
    font-family: $Raleway, serif;
    hr {
      border: 2px solid rgb(80, 138, 57);
    }
  }
}
.read-story {
  .post-author-card-mb {
    @media (min-width: 800px) {
      display: none;
    }
    margin-top: 10px;
    margin-bottom: 15px;
    .author-name-chip {
      text-decoration: none;
      text-align: center;
      border: 2px solid black;
      padding: 4px 10px 4px 10px;
      border-radius: 30px;
      font-family: $Raleway;
      border-left: 6px solid red;
      border-right: 6px solid red;
    }
  }
  .post-author-card-dsk {
    @media (max-width: 800px) {
      display: none;
    }
    -webkit-box-shadow: 10px 10px 5px -5px rgba(177, 161, 161, 0.75);
    -moz-box-shadow: 10px 10px 5px -5px rgba(161, 144, 144, 0.75);
    box-shadow: 10px 10px 5px -5px rgba(146, 126, 126, 0.75);
    margin-top: 10px;
    float: right;
    margin-right: 2%;
    .author-name-chip {
      text-align: center;
      border: 2px solid black;
      text-decoration: none;
      padding: 10px 10px 10px 10px;
      border-radius: 30px;
      border-right: 6px solid red;
      font-family: $Raleway;
      border-left: 6px solid red;
    }
  }

  .read-story-box {
    -webkit-box-shadow: 10px 10px 5px -5px rgba(177, 161, 161, 0.75);
    -moz-box-shadow: 10px 10px 5px -5px rgba(161, 144, 144, 0.75);
    box-shadow: 10px 10px 5px -5px rgba(146, 126, 126, 0.75);
    @media (min-width: 800px) {
      width: 70%;
    }
    @media (max-width: 960px) and (min-width: 800px) {
      width: 64%;
    }
    margin: 10px 5px;
    @media (max-width: 576px) {
      margin-left: 0px;
      margin-right: 0px;
    }
    border: 2px solid #f1f1f1;
    .story-header {
      margin-left: 15px;
      margin-right: 15px;
      h1 {
        font-family: $Raleway, serif;
      }
      p {
        display: inline-block;
      }
      hr {
        border: 2px solid black;
      }
    }
    .story-body {
      margin-left: 20px;
      p {
        font-family: $Raleway;
        font-size: 20px;
      }
    }
    .post-comment {
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-block;
      .h1-c {
        font-family: $Raleway;
      }
      form {
        text-align: center;
        margin-bottom: 10px;
        font-family: $Raleway;
        textarea {
          border: 3px solid rgb(70, 161, 173);
        }
      }
    }
    .post-comments {
      border: 2px solid #1b72ac;
      padding: 15px;
      border-radius: 50px;
      margin-bottom: 8px;
      .comment-header {
        border-bottom: 2px solid rgb(38, 192, 192);
        img {
          height: 60px;
          border-radius: 50px;
          width: 60px;
          margin-top: -28px;
        }
        .header-data {
          display: inline-block;
          p {
            padding: 0px;
            margin: 0px;
            font-size: 20px;
            margin-left: 10px;
            font-family: $Raleway;
          }
          h6{
            padding: 0px;
            font-family: $Raleway;
            margin: 0%;
            margin-left: 10px;
          }
        }
      }
      .comment-body{
        margin-top: 5px;
        text-align: center;
        h4{
          display: inline-block;
          margin: 0%;
          font-family: Raleway;
        }
      }
    }
  }
}
