.bg-red {
    background-color: rgb(224, 54, 54);
}
.bg-blue-light {
    background-color: rgb(74, 129, 211);
}
.bg-green-yellow {
    background-color: rgb(128, 241, 99);
}
.bg-yellow {
    background-color: rgb(196, 243, 85);
}
.bg-orange {
    background-color: rgb(212, 103, 39);
}
.bg-blue {
    background-color: rgb(25, 25, 240);
}
.bg-green {
  background-color: green;
}
